	
@import "bootstrap";
@import "chat";
@import "user";
@import "movies";
@import "movies_show";


.default-avatar {
  width: 130px;
  height: 130px;
  border-radius: 50%; /* 丸くする */
  object-fit: cover; /* 画像の比率を保ちながら枠内に収める */
  border: 2px solid #ccc; /* 枠線を追加（オプション） */
}

/* ヘッダーのアバター画像（完全な円形にする） */
.avatar-icon {
  width: 50px;
  height: 50px;
  object-fit: cover; /* 画像を円形にトリミング */
  border-radius: 50%; /* 確実に円形にする */
  border: 2px solid #ccc; /* 枠線を追加（オプション） */
}

.top-image {
  width: 100%;  /* 画面幅の80%にする */
  height: auto;  /* 縦横比を保ったままリサイズ */
  display: block; /* 画像をブロック要素にして中央揃えしやすくする */
  margin: 0 auto; /* 中央揃え */
}

/* ロゴのスタイル */

.navbar-logo{
  width: 170px; 
  height: auto; 
}

.second-header {
  text-align: center; /* 中央揃え */
}

.second-logo {
  width: 300px; /* 画像の幅を調整 */
  height: auto; /* アスペクト比を維持 */
}


a[href*="password"] {
  display: none !important;
}