.chat-form{
  display: flex;
}

.chat-text{
  display: block;
  margin-top: 20px;
}

.chat-submit{
  display: block;
  margin-top: 20px;
}

.chat{
  display: flex;
}

.chat p{
  margin: 0;
}

.user-info{
  color: gray;
  font-weight: bold;
}